<main>
    <aside class="aside">
        <!-- search form -->
        <form class="search-form">
            <label for="pet-sitting-type">Pet Sitting Type </label>
            <select id="pet-sitting-type">
                <option value="dog-walking">Anything</option>
                <option value="dog-walking">Dog Walking</option>
                <option value="boarding-dogs">Pet Sitting</option>
            </select>
            <div>
                <input type="checkbox" id="cats">
                <label for="cats">Cats</label>
                <input type="checkbox" id="dogs">
                <label for="dogs">Dogs</label>
            </div>
           
            <button class="submit">Search Petsitters <mat-icon class="icon-job2">search</mat-icon></button>
        </form>
        <div class="image">
            <img src="../assets/imagini/cat_girl.png" alt="Descrierea imaginii" width="250px">
        </div>
    </aside>


    
    <!-- requests-->
    <section class="pet-sitters">
        <button class="public-request-button">Public Request + </button>
        


        <div *ngFor="let request of requests" class="pet-sitter">
            <div class="profile-pic">
                <!-- <img src="profile1.jpg" alt="Daria Popescu"> -->
            </div>
            <div class="info">
                <h3>{{request.user?.username}} <span class="verified">Verified</span></h3>
                <p>{{request.description}}</p>

                <div class="availability">
                    <p>{{request.location}}</p>
                </div>
            </div>
            <div class="actions">
                <button>DETAILS</button>
                <button>PHONE NO.</button>
                <!-- <button>MESSAGE</button> -->
            </div>
        </div>

    </section>
</main>
