<main>
    <aside class="aside">
        <!-- search form -->
        <form class="search-form">
            <label for="pet-sitting-type">Pet Sitting Type </label>
            <select id="pet-sitting-type">
                <option value="dog-walking">Anything</option>
                <option value="dog-walking">Dog Walking</option>
                <option value="boarding-dogs">Pet Sitting</option>
            </select>
            <div>
                <input type="checkbox" id="cats">
                <label for="cats">Cats</label>
                <input type="checkbox" id="dogs">
                <label for="dogs">Dogs</label>
            </div>
           
            <button class="submit">Search Petsitters <mat-icon class="icon-job2">search</mat-icon></button>
        </form>
        <div class="image">
            <img src="../assets/imagini/cat_girl.png" alt="Descrierea imaginii" width="250px">
        </div>
    </aside>


    
    <!-- requests-->
    <section class="pet-sitters">
        <button class="public-request-button">Public Job + </button>
        <div class="pet-sitter">
            <div class="profile-pic">
                <!-- <img src="profile1.jpg" alt="Daria Popescu"> -->
            </div>
            <div class="info">
                <h3>Daria Popescu <span class="verified">Verified</span></h3>
                <p>Pet Sitter or Pet Nanny. I offer Boarding dogs, Boarding cats, Dog walking, Visit cats, in Bucharest. I have 8 years of professional experience with pets, and I've been working with animals since ...</p>
                
                <div class="availability">
                    <p><mat-icon class="icon-job1">watch_later</mat-icon>Monday - Sunday 9:00 - 18:00</p>
                    <p><mat-icon class="icon-job1">location_city</mat-icon>Bloc 24, Strada Privighetorilor, Nr 45</p>
                </div>
            </div>
            <div class="actions">
                <button>DETAILS<mat-icon class="icon-job2">play_arrow</mat-icon></button>
                <button>PHONE NO.<mat-icon class="icon-job3">call</mat-icon></button>
            </div>
        </div>
        <div class="pet-sitter">
            <div class="profile-pic">
                 <!-- <img src="profile1.jpg" alt="Daria Popescu"> -->
            </div>
            <div class="info">
                <h3>Daniel Pirvu <span class="verified">Verified</span></h3>
                <p>Pet Sitter or Pet Nanny. I offer Boarding dogs, Boarding cats, Dog walking, Visit cats, in Bucharest. I have 8 years of professional experience with pets, and I've been working with animals since ...</p>
                
                <div class="availability">
                    <p><mat-icon class="icon-job1">watch_later</mat-icon>Monday - Sunday 9:00 - 18:00</p>
                    <p><mat-icon class="icon-job1">location_city</mat-icon>Bloc 24, Strada Privighetorilor, Nr 45</p>
                </div>
            </div>
            <div class="actions">
                <button>DETAILS<mat-icon class="icon-job2">play_arrow</mat-icon></button>
                <button>PHONE NO.<mat-icon class="icon-job3">call</mat-icon></button>
            </div>
        </div>
    </section>
</main>
