
    <main>
        <section class="home-main">

            <div class="main-text">
                <h1>Where Caring is a <span>Click Away</span></h1>
                <p>Making life easier for families everywhere.</p>
                <button class="account">Create your free account<mat-icon>keyboard_arrow_right</mat-icon></button>
            </div>
            <div class="main-image">
                <img src="../assets/imagini/familie.png" alt="Family Illustration">
            </div>
        </section>


        <section class="services">
            <a herf="#">
                <div class="service">
                    <h2>Pet-Walking</h2>
                    <img src="../assets/imagini/dogwalker.png" alt="Pet Walking">
                </div>
            </a>
            <a herf="#">
                <div class="service">
                    <h2>Petsitter</h2>
                    <img src="../assets/imagini/cat2.png" alt="Petsitter">
                </div>
            </a>
        </section>

        <section class="attributes">
            <div class="attribute-flex">
                
                <div class="attribute">
                    <h3>Convenience<mat-icon>workspace_premium</mat-icon></h3>
                    <p>Finding reliable pet care shouldn't be a hassle. With our user-friendly platform, you can quickly find and book caregivers who meet your specific requirements, whether you need a last-minute petsitter for your furry friend.</p>
                </div>
                <div class="attribute">
                    <h3>Safety First<mat-icon>health_and_safety</mat-icon></h3>
                    <p>
                        We prioritize the safety and security of your loved ones above all else.Every caregiver undergoes a thorough background check and screening process to ensure your peace of mind.</p>
                </div>
                <div class="attribute">
                    <h3>Peace of Mind<mat-icon>sentiment_satisfied</mat-icon></h3>
                    <p>You can enjoy peace of mind knowing that your loved ones are in capable hands. Whether you're at work, running errands, or enjoying a well-deserved break, you can trust our caregivers to provide the love and attention your family members deserve.</p>
                </div>
            </div>

            <div class="enjoy">
                <img src="../assets/imagini/enjoy.png" >
            </div>
        </section>

        <section class="steps">
            <h2>How to Find a Sitter in 3 Simple Steps</h2>
            <div class="step-flex">
                <div class="step">
                    <img src="../assets/imagini/planning.png">
                    <h3>Explore the community</h3>
                    <p>Get started by creating your free account. Explore our platform, browse sitter profiles and create your home and pet owner listing.</p>
                </div>
                <div class="step">
                    <img src="../assets/imagini/discussion.png" >
                    <h3>Choose your perfect sitter</h3>
                    <p>Receive applications from verified and reviewed dog sitters. View their profiles, photos and reviews from other pet owners.</p>
                </div>
                <div class="step">
                    <img src="../assets/imagini/HappyWoman.png" >
                    <h3>Travel with peace of mind</h3>
                    <p>Enjoy your vacation knowing your pup is happy at home with a sitter who can give them real time, care and attention.</p>
                </div>
            </div>
        </section>
        
    </main>