main {
    display: flex;
    padding: 20px;
}

aside {
    width: 25%;
}

.search-form {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 5px 5px rgb(155, 153, 153);
}

.search-form input {
    display: block;
    width: 95%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit {
    background-color: #F07167;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    
}

.search-form select,
.search-form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-form input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 10px;
}

.search-form label {
    margin-right: 20px;
}

.pet-sitters {
    width: 70%;
    line-height: 1.5;
    margin-left: 30px;
    
}

.public-request-button {
    background-color: #F07167;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 10px 5px 5px rgb(155, 153, 153);
}

.public-request-button:hover{
    background-color: #0081A7;
    transition: background-color 0.4s, color 0.4s;
    box-shadow: 10px 5px 5px rgb(155, 153, 153);

}

.pet-sitter {
    display: flex;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    align-items: center;
    box-shadow: 10px 5px 5px rgb(155, 153, 153);
}

.profile-pic {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 40px;
}

.pet-sitter .profile-pic {
    flex: 0 0 100px;
    margin-right: 20px;
}

.pet-sitter .profile-pic img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.pet-sitter .info {
    flex: 1;
    
}

.pet-sitter .info h3 {
    margin: 0;
    font-size: 1.2em;
    color: #1c7c81;
    display: flex;
    align-items: center;
}

.pet-sitter .info .verified {
    background-color: #00AFB9;
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 0.8em;
    margin-left: 10px;
}

.pet-sitter .info .rating {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.pet-sitter .info .availability {
    font-size: 0.9em;
    color: gray;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.pet-sitter .availability p {
    display: flex;
    align-items: center;
    margin: 0;
}

.pet-sitter .actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pet-sitter .actions button {
    background-color: #3D315B;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pet-sitter .actions button:nth-child(1) {
    background-color: #ff6b6b;
    border: #f4f4f4;
}

.pet-sitter .actions button:nth-child(1):hover {
    background-color: #0081A7;
    transition: background-color 0.4s, color 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.pet-sitter .actions button:nth-child(2) {
    background-color: #ffffff;
    color: #3D315B;
}

.pet-sitter .actions button:nth-child(2):hover {
    background-color: #ff6b6b;
    transition: background-color 0.4s, color 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    
}

.pet-sitter .actions button mat-icon {
    margin-left: 5px;
}

/*icons */
.icon-job1 {
    padding-right: 10px;
    vertical-align: middle;
    font-size: 20px;
    color: #3D315B;
}

.icon-job2 {
    padding-right: 10px;
    vertical-align: middle;
    font-size: 20px;
    color: #ffffff;
}
.icon-job3 {
    padding-right: 10px;
    vertical-align: middle;
    font-size: 20px;
    color: #3D315B;
}
.star{
    color: #f1b00b;
}

.pet-sitter .info p{
    padding-right: 20px;
}