<body>
    <div class="container">
        <aside class="sidebar">
            <button class="sidebar-button">SETTINGS</button>
            <button class="sidebar-button">HISTORY</button>
            <button class="sidebar-button">SIGN OUT<mat-icon class="icon-profile1" style="font-size: 20px;">logout</mat-icon></button>
        </aside>
        <main class="main-content">
            <section class="profile">
                <div class="profile-title">
                    <h2>
                        PROFILE
                        <mat-icon class="icon-profile2">view_headline</mat-icon>
                    </h2>
                </div>
                <div class="profile-card">
                    <div class="profile-header">
                        <mat-icon class="icon-profile1">perm_identity</mat-icon>
                        <h3> Johansson Mike</h3>
                        <mat-icon class="verif">verified</mat-icon>
                    </div>
                    <p class="profile-description">Pet Sitter or Pet Nanny, I offer Boarding dogs, Boarding cats, Dog walking, Visit cats, in Bucharest. I have 8 years of professional experience with pets, and I've been working with animals since I was young. I've always taken care of family, relatives', and friends' pets. I have a 2-room apartment in the Aviatiei area, approximately 60 m2, pet friendly.</p>
                    <ul class="profile-details">
                        <li><mat-icon class="icon-profile1">location_city</mat-icon> <b>Boarding space:</b> Apartment 60 m2</li>
                        <li><mat-icon class="icon-profile1">park</mat-icon> <b>Park or yard nearby:</b> Yes</li>
                    </ul>
                    <p class="availability"><mat-icon class="icon-profile1">watch_later</mat-icon> I'm usually available for pet sitting: Mo-Su 8:00-22:00</p>
                    <p class="location"><mat-icon class="icon-profile1">location_on</mat-icon> <b>Location:</b> Bloc 24, Strada Privighetorilor, Nr 45</p>
                    <p class="price"><mat-icon class="icon-profile1">payments</mat-icon> <b>Price:</b> 10.0 $ / h</p>
                    <div class="profile-actions">
                        <button class="action-button">BOOK <mat-icon>done_outline</mat-icon></button>
                        <button class="action-button">PHONE NO. <mat-icon>call</mat-icon></button>
                    </div>
                </div>
            </section>
            <section class="reviews">
                <div class="review-flex">

                    <div class="review-title">
                        <h2>REVIEWS</h2>
                        <mat-icon class="icon-review1">auto_awesome</mat-icon>
                    </div>
                    
                    <div class="review">
                        <h3>Maria</h3>
                        <!-- la stele/rating nu stiu exact cum sa fac :(( -->
                        <span class="star"><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon></span>
                        <p>Our little cat was in good hands with Scarlett, who is a serious and responsible person. We communicated easily, and we will definitely rely on her in the future. Thank you!</p>
                    </div>
                    <div class="review">
                        <h3>Daniel</h3>
                        <span class="star"><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon></span>
                        <p>Our little cat was in good hands with Scarlett, who is a serious and responsible person. We communicated easily, and we will definitely rely on her in the future. Thank you!</p>
                    </div>
                    <a href="#" class="see-more">SEE MORE</a>
                </div>
                <div class="image">
                    <img id="imag" src="../assets/imagini/cost.png" alt="" width="340px">
                </div>
            </section>
        </main>
    </div>
</body>
